body {
  padding-bottom: 100vh;
}

.ipt {
  width: 200px;
  height: 30px;
  border: 3px solid #9c9c9c;
}
.ipt:focus {
  border: 3px solid #00ff00;
  outline: 0;
}
.text {
  display: block;
}
.btn {
  display: none;
}