body {
    width: 100%;
    height: 100%;
    background: #000;
    font-family: sans-serif;
  }
  
  .fon {
    position: relative;
    width: 100%;
    top: -25px;
    min-height: 300px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }
  
  .star-wars {
    height: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: justify;
    color: yellow;
    font-size: 80px;
    font-weight: 600;
    perspective: 500px;
  }
  
  .time {
    position: absolute;
    top: 100000px;
    animation: time 30s linear 0.1s infinite;
  }
  .header{
      display: flex;
      justify-content: center;
  }
  
  @keyframes time {
    0% {
      top: 0px;
      transform: rotateX(25deg)  translateZ(0);
    }
    100% { 
      top: -8000px;
      transform: rotateX(25deg) translateZ(-3000px);
    }
  }