
.body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.ul {
    margin-top: 31.5;
    list-style-type: none;
    text-align: center;
}
.ul a {
    margin: 0 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #FF0000;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    
}
.ul li {
    display: inline;
}

.img {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.text {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 1px;
}

.text h2 {
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.text div {
    margin: 50px;
}

.text a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 50px 20px 50px;
    background-color: chocolate;
    border-radius: 4px;
}

.footer {
    padding: 30px;
    text-align: right;
}

