.page-body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 1280px;
}
.page-header {
    margin: 40px 80px 40px 80px;
}
.heading {
    margin: 0;
    padding: 0;
    font-size: 80px;
    font-weight: normal;
}
.link-style {
    text-decoration: none;
    color: black;
}
.span {
    color: aqua;
}
.header-list{
    background-color: #35444F;
    font-size: 24px;
    text-align: center;
}
.header-stitching{
    display: inline-block;
    color: white;
    margin: 0;
    padding: 10px 30px 10px 30px;
    border-right: 1px solid white;
}
.line-left {
    border-left: 1px solid white;
}
.header-stitching:hover {
    background-color: #222F3A;
}

.page-content {
    margin: 0px 80px 0px 80px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.main-content {
    font-size: 18px;
}
.main-content .main-content-img{
    border: 1px solid black;
}
.main-image {
    margin: 0;
    padding: 60px 230px 60px 230px;
}
.main-image:hover {
    transition: 0.5s;
    transform: scale(1.2);
}
.sidebar {
    margin: 0 50px auto 0;
    padding: 0;
    font-size: 27px;
    color: #485863;
    border: 1px solid black;
}
.sidebar-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 285px;
}
.sidebar-stitching {
    white-space: nowrap;
    padding: 15px 40px 15px 40px;
}
.sidebar-stitching:hover {
    background-color:#DBDBDB;
    color: black;
    padding-left: 60px;
}

.footer-menu {
    margin: 30px 80px 30px 80px;
    padding: 0px 0px 0px 0px;
    background-color: rgba(99, 105, 110, 0.48);;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.footer-menu-list {
    display: inline-flex;
    list-style-type: none;
}
.footer-menu-stitching {
    margin-left: 10px;
    margin-right: 10px;
}
.footer-menu-stitching:hover {
    color: #3181a6;
    border-bottom: 1px solid#3181a6;
}
.footer-menu-text {
    margin-right: 40px;
}
