.page-body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.page-header {
    width: 1280px;
    display: flex;
    background-color: #313131;
    color: white;
    text-align: center;
}
.icon-manu {
    padding: 20px;
}
.icon-title{
    margin: auto 0 auto 0;
    font-size: 22px;
    text-decoration: none;
    color: white;
}
.list-menu {
    display: flex;
    justify-content: center;
    margin: auto;
    list-style-type: none;
}
.list-menu-li {
    margin-left: 35px;
    font-size: 15px;
}
.list-menu-li:hover {
    color: #14B9D5;
}

.icon-search {
    padding: 25px 25px 25px 25px;
    display: flex;
    justify-content: end;
    background-color: black;
}

.page-main {
    width: 1280px;
}

.the-latest-news {
    margin: 0;
    padding: 0;
    background:black url(../image/header-background.png);
    color: white;
}
.item-pledge {
    margin: 0px 0px 0px 0px;
    padding: 160px 0px 50px 0px;
    text-align: center;
}
.button {
    display: flex;
    justify-content: center;
}
.home-button-1 {
    margin: 0px 10px 50px 0px;
    padding: 16px 19px 16px 19px;
    border-radius: 4px;
    background-color: #89CA62;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.home-button-2 {
    margin: 0px 0px 50px 10px;
    padding: 16px 30px 16px 30px;
    border-radius: 4px;
    background-color: #14B9D5;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.most-popular-posts {
    padding: 0px 40px 50px 40px;
    background-color: #F2F2F2;
    
}
.content-pledge {
    margin: 0;
    padding: 50px 0px 50px 0px;
    color:#18B4CF;
    text-align: center;
    text-transform: uppercase;
}
.content-box {
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.content-box-div {
    background-color: white;
    height: min-content;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 25px;
}

.our-most-popular-clients {
    background: black url(../image/Layer-5.png);
}
.content-pledge-two {
    padding: 60px 0 80px 0;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase
}
.line-item {
    width: 60px;
    border: 2px solid #18B4CF;
}
.grid {
    padding: 50px 0px 150px 170px;
    display: grid;
    grid-template-columns: repeat(4,250px);
    align-items: center;
    justify-items: center;
}

.line-block {
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


.hot-news{
    text-align: center;
}
.grid-content {
    width: 1260px;
    display: grid;
    grid-template-columns: repeat(4, 290px);
    grid-template-rows: repeat(4,400px);
    gap: 50px;
    justify-content: center;
}
.grid-content-div{
    background-color: #f7f7f7;
}
.div-title{
    text-align: end;
    padding-right: 30px;
}
.grid-content-div:nth-child(1){
    grid-column: 1/4;
}
.grid-content-div:nth-child(2){
    grid-column: 4/5;
}
.grid-content-div:nth-child(3){
    grid-column: 1/2;
}
.grid-content-div:nth-child(4){
    grid-column: 3/4;
}
.grid-content-div:nth-child(5){
    grid-column: 1/2;
}
.grid-content-div:nth-child(6){
    grid-column: 3/4;
}
.grid-content-div:nth-child(7){
    grid-column: 1/2;
}
.grid-content-div:nth-child(8){
    grid-column: 2/4;
}
.min-grit{
    width: 277px;
    height: 258px;
}
.rifht-grid {
    width: 857px;
    height: 259px;
    display: flex;
}
.box-grid{
    width: 554px;
    height: 418px;
}

.page-footer{
    width: 1280px;
    background-color: black;
    color: white;
    font-size: 13px;
    display: grid;
    grid-template-columns: repeat(2,500px);
    gap: 500px;
    padding: 25px;
}
