body {
  background-color: #444444;
  font-family: sans-serif;
}


.flags{
  position: relative;
  padding-left: 30px;
  padding-top: 2px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.sapper {
  width: fit-content;
  padding: 5px;
  background-color: #eaeaea;
}
.cell {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: #989898;
  font-size: 20px;
  font-weight: bold;
}

.flag::after {
  content: "";
  top: 5px;
  left: 5px;
  width: 20px;
  height: 10px;
  background-color: red;
  position: absolute;
}
.flag::before {
  content: "";
  top: 5px;
  left: 5px;
  width: 5px;
  height: 20px;
  background-color: black;
  position: absolute;
}
.rowCell {
  display: flex;
}
#btn {
  display: none;
  margin-top: 10px;
}