.page {
    margin: 0;
    padding: 0;
}
.main {
    font-family: sans-serif;
    background-image: url(../image/background.png);
    background-size: cover;
}
.header-page {
    padding: 40px 8% 25px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.header-content {
    position: relative;
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
}
.logo-2 {
    display: none;
}
.logo-tect{
    margin: 10px;
}
.header-content:hover .logo-2{
    position: absolute;
    color: #F26522;
    display: flex;
}
.header-content:hover .logo-tect{
    color: #F26522;
}

.header-content-title {
    margin: 3px;
    padding: 0;
}
.header-content-text {
    margin: 0;
    padding: 2px;
}
.header-content-left {
    margin-left: auto;
    text-align: end;
    
}
.email {
    color: white;
}
.nomber {
    padding-top: 20px;
}
.header-content-link {
    display: block;
    text-decoration: none;
    color: white;
}
.header-content-link:hover {
    color: #F26522;
}
.content-page {
    display: flex;
    justify-content: center;
}
.content {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 304px);
    grid-template-rows: repeat(2, 240px);
    gap: 65px;
}
.content-link {
    text-decoration: none;
}
.content-main {
    position: relative;
    top: 0;
    left: 0;
}
.content-main:hover .content-title {
    color: #F26522;
}
.content-title {
    color: white;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
.text-from {
    margin: 0;
    margin-left: 16px;
    margin-top: 9px;
    font-size: 10px;
}
.text-money {
    margin: 0;
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 20px;
}
.text-menu {
    display: flex;
}
.menu {
    margin: 0;
    margin-top: 29px;
    margin-right: 16px;
}
.menu::after {
    content: "›";
    margin-left: 16px;
    font-size: 20px;
}
.content-two {
    display: none;
}
.content-main:hover .content-two {
    display: flex;
    justify-content: space-between;
    background-color: #F26522;
    margin-top: 159px;
    width: 100%;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.footer {
    padding-top: 40px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}