.body-page {
    margin: 0;
    padding: 0;
}
.fon {
    background-image: url(../image/bagraund.png);
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
samp {
    font-family: 'Ubuntu', sans-serif;
}
.hender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(00, 00, 00, 0.41);
    padding: 0 80px;
}
.heading {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}
.heading:hover {
    color: #3CB878;
}
.nav {
    display: flex;
    align-items: center;
}
.nav-hover {
    display: block;
    text-decoration: none;
}
.nav-hover {
    position: relative;
    top: 0;
    left: 0;
}
.nav-hover .nav-icon-hov {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.nav-hover:hover .nav-icon-hov {
    display: block;
}
.nav-icon-hov {
    margin: 20px;
}
.nav-icon {
    margin: 20px;
}
.arrow {
    margin: 0 10px 0 10px;
    padding: 10px 0 10px 0;
    height: 5px;
    background-color: white;
    border: 0.5px solid white;
}
.log {
    margin: 10px;
    color: white;
}
.log-link {
    text-decoration: none;
    color: white;
}
.log-link:hover {
    color: #3CB878;
}

.page {
    padding-bottom: 75px;
}

.menu-page {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 38px;
    background-color: white;
    width: 444px;
}
.sing-up {
    display: flex;
}
.decor-cyb {
    margin: 29px 0;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}
.title-sing {
    margin-left: 43px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.title-log {
    margin-left: 216px;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3CB878;
}
.title-log:focus {
    text-decoration: underline;
    color: #01813F;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-botten {
    margin-left: 12px;
}
.one-button {
    display: flex;
    align-items: center;
    margin-right: 6px;
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 5px;
    background: #305DB8;
}
.one-button:focus {
    background-color: #022263;
}
.two-button {
    display: flex;
    align-items: center;
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 5px;
    background: #DF4A32;
}
.two-button:focus {
    background-color: #AB1F09;
}
.arrow-button {
    margin: 0 10px 0 10px;
    padding: 10px 0 10px 0;
    height: 5px;
    background-color: black;
    border: 0.5px solid black;
    opacity: 0.1;
}
.text-button-one {
    margin-left: 10px;
    color: white;
    font-weight: normal;
    font-size: 16px;
}
.text-button-two {
    margin-left: 10px;
    color: white;
    font-weight: normal;
    font-size: 16px;
}
.or {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-or {
    margin: 5px;
    display: flex;
    justify-content: center;
    color: #848484;
}
.line-or {
    margin: 1px;
    padding: 0.8px;
    width: 145px;
    background: #F2F2F2;
}

.content-input {
    margin-left: 60px;
    margin-right: 60px;
}
.input {
    width: 322px;
    height: 44px;
    margin-bottom: 16px;
    padding-left: 16px;
    border: 1px solid #F2F2F2;
}
.input:focus{
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

.checkbox-content {
    margin-left: 60px;
    display: flex;
    align-items: center;
}
.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.checkbox-link {
    color: #01813F;
    margin-left: 4px;
}

.button-save-content {
    display: flex;
    justify-content: center;
}
.button-save {
    width: 324px;
    height: 46px;
    font-size: 16px;
    color: white;
    background: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
}
.button-save:focus {
    background-color: #01813F;
}
