@mixin boldText {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
@mixin centerBox {
  display: flex;
  justify-content: center;
}
body {
  margin: 0;
  font-family: sans-serif;
}

.head-menu {
  @include centerBox;
  align-items: center;

  li {
    margin: 34px;
    list-style-type: none;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
  }
}
.head-image {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.our-Recent-posts {
  margin: 60px 20%;
  h3 {
    @include boldText;
  }
  .box {
    display: flex;
    // height: 140px;
  }
}
.contend-box {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(auto, 140px);
  margin: 15px
}
.text-name {
  @include boldText;
  margin-top: 20px;
  font-size: 1vw;
}
.img-contend {
  margin: 24px;
  width: 160px;
  height: 140px;
}
.text-info {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 0.5vw;
  line-height: 20px;
  color: #7C7C7C;
}
.text-contend {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 0.7vw;
  line-height: 26px;
  color: #5C5C5C;
}

.latest-Instagram-Shots {
  background-color: #F7F7F7;
  padding: 50px 200px;
}
.imade-text {
  @include centerBox;
}
.imade-box {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  img {
    margin: 5px;
  }
}
.imade-box img {
  width: 160px;
  height: 140px;
}
footer {
  text-align: center;
  display: block;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 20%;
  background-color: black;
  color: white;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
  }
}
.end-text {
  margin-top: 0px;
  @include boldText;
}
.logo-list {
  @include centerBox;
  margin: 35px 0px;

  li img{
    display: block;
  }
  li {
    list-style-type: none;
    margin: 2.5px;
  }
}

@media screen and (max-width: 768px) {
  .head-menu {
    @include centerBox;
    align-items: center;
  
    li {
      margin: 19px;
      list-style-type: none;
      font-weight: 400;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
  .head-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 680px;
  }
  
  .our-Recent-posts {
    margin: 60px 85px;
    h3 {
      @include boldText;
    }
    .box {
      display: flex;
    }
  }
  .contend-box {
    display: grid;
    grid-template-columns: repeat(1 , auto);
    gap: 5px;
  }
  .width-768px {
    display: none;
  }
  .text-name {
    @include boldText;
  }
  .img-contend {
    margin: 24px;
    width: 160px;
    height: 140px;
  }
  .text-info {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7C7C7C;
  }
  .text-contend {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
  }
  
  .latest-Instagram-Shots {
    background-color: #F7F7F7;
    padding: 50px 85px;
  }
  .imade-text {
    @include centerBox;
  }
  .imade-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
  }
  .imade-box img {
    margin: 5px;
    width: 160px;
    height: 140px;
  }
  footer {
    text-align: center;
    display: block;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 110px;
    background-color: black;
    color: white;
  
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      align-items: center;
      text-align: center;
      color: #B9B9B9;
    }
  }
  .end-text {
    margin-top: 0px;
    @include boldText;
  }
  .logo-list {
    @include centerBox;
    margin: 35px 0px;
  
    li img{
      display: block;
    }
    li {
      list-style-type: none;
      margin: 2.5px;
    }
  }
}
